@theme {
    --color-navy-50: #E7E9EF;
    --color-navy-100: #C2C9D6;
    --color-navy-200: #A3ADC2;
    --color-navy-300: #697A9B;
    --color-navy-400: #5C6B8A;
    --color-navy-450: #465675;
    --color-navy-500: #384766;
    --color-navy-600: #313E59;
    --color-navy-700: #26334D;
    --color-navy-750: #222E45;
    --color-navy-800: #202B40;
    --color-navy-900: #192132;

    --color-primary: #4f46e5;        /* colors.indigo[600] */
    --color-primary-focus: #4338ca;  /* colors.indigo[700] */

    --color-secondary-light: #ff57d8;
    --color-secondary: #F000B9;
    --color-secondary-focus: #BD0090;

    --color-accent-light: #818cf8;   /* colors.indigo[400] */
    --color-accent: #5f5af6;
    --color-accent-focus: #4d47f5;

    --color-info: #0ea5e9;           /* colors.sky[500] */
    --color-info-focus: #0284c7;     /* colors.sky[600] */

    --color-success: #10b981;        /* colors.emerald[500] */
    --color-success-focus: #059669;  /* colors.emerald[600] */

    --color-warning: #ff9800;
    --color-warning-focus: #e68200;

    --color-slate-150: #ccc;

    --color-error: #ff5724;
    --color-error-focus: #f03000;

    --font-sans: "Poppins", system-ui, sans-serif;
    --font-inter: "Inter", system-ui, sans-serif;


    --text-tiny: 0.625rem;
    --text-tiny--line-height: 0.8125rem;

    --text-tiny-plus: 0.6875rem;
    --text-tiny-plus--line-height: 0.875rem;

    --text-xs-plus: 0.8125rem;
    --text-xs-plus--line-height: 1.125rem;

    --text-sm-plus: 0.9375rem;
    --text-sm-plus--line-height: 1.375rem;

    --opacity-15: 0.15;

    --spacing--4-5: 1.125rem;
    --spacing-5-5: 1.375rem;
    --spacing-18: 4.5rem;

    --shadow-soft: 0 3px 10px 0 rgb(48 46 56 / 6%);
    --shadow-soft-dark: 0 3px 10px 0 rgb(25 33 50 / 30%);

    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-4: 4;
    --z-5: 5;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes shimmer {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}

@utility animate-shimmer {
    animation: shimmer 2s linear infinite;
}

/*@layer utilities {*/
/*    .text-tiny {*/
/*        font-size: var(--text-tiny);*/
/*        line-height: var(--text-tiny--line-height);*/
/*    }*/

/*    .text-tiny-plus {*/
/*        font-size: var(--text-tiny-plus);*/
/*        line-height: var(--text-tiny-plus--line-height);*/
/*    }*/

/*    .text-xs-plus {*/
/*        font-size: var(--text-xs-plus);*/
/*        line-height: var(--text-xs-plus--line-height);*/
/*    }*/

/*    .text-sm-plus {*/
/*        font-size: var(--text-sm-plus);*/
/*        line-height: var(--text-sm-plus--line-height);*/
/*    }*/
/*}*/
